/**
 * Global CSS for customizing the purple theme based on a darker purple from the logo.
 * Infima default variables are overridden here for both light and dark modes.
 */

/* Override the default Infima variables with darker purple shades */
:root {
  --ifm-color-primary: #652edc; /* Darker purple from the logo */
  --ifm-color-primary-dark: #5521c6; /* Slightly darker purple */
  --ifm-color-primary-darker: #4a1ea9; /* Even darker purple */
  --ifm-color-primary-darkest: #3f1b8c; /* Deep purple */
  --ifm-color-primary-light: #7640e2; /* Lighter shade of the dark purple */
  --ifm-color-primary-lighter: #8856e7; /* Soft lighter purple */
  --ifm-color-primary-lightest: #996cee; /* Very light purple */
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(101, 46, 220, 0.1); /* Light purple for highlighted code lines */
}

/* Dark mode color palette with darker purples */
[data-theme='dark'] {
  --ifm-color-primary-dark: #371785; /* A shade darker */
  --ifm-color-primary-darker: #30137b;
  --ifm-color-primary-darkest: #2a1071; /* Deepest dark purple */
  --ifm-color-primary-light: #48219b; /* Slightly lighter purple for contrast */
  --ifm-color-primary-lighter: #5734b3;
  --ifm-color-primary-lightest: #674dcc;
  --ifm-color-primary: #A288FF;
  --docusaurus-highlighted-code-line-bg: rgba(63, 27, 140, 0.3); /* Dark purple highlight in dark mode */
}



@tailwind components;
@tailwind utilities;